#game-container {
  position: absolute;
  top: $info-height;
  left: 0;
  height: calc(100% - #{$info-height});
  width: 100%;

  overflow: hidden;

  background-color: #444;
}

@media screen and (min-width: $break-2) {
  #game-container {
    top: 0;
    left: $info-width;
    height: 100%;
    width: calc(100% - #{$info-width});
  }
}
