@import "vars.scss";

#map {
  position: absolute;
  width: 2000px;
  height: 2000px;

  background-color: $map-color;
  border: 5px solid $map-border-color;
  box-shadow: $map-shadow;

  transform: translate(40px, 40px);
}
