@import "vars.scss";

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: $board-size;
  height: $board-size;

  background-color: $map-color;
  border: $map-border-width solid $map-border-color;
  box-shadow: $map-shadow;

  transform: translate(-$map-border-width, -$map-border-width);
}
