@import "vars.scss";
@import "InfoBar.scss";
@import "GameContainer.scss";
@import "Map.scss";

html {
  body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: $min-width;
    margin: 0;
  }
}
