$min-width: 280px;

$info-height: 10vh;
$info-width: 10vw;

// ----------------------------------------------------------------------------
// Breakpoints
// ----------------------------------------------------------------------------

$break-1: 450px;
$break-2: 820px;

// ----------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------

$info-bar-color: #111120;
$map-color: #677077;

// ----------------------------------------------------------------------------
// Shadows
// ----------------------------------------------------------------------------
$info-shadow: 0 0 4px black;
$map-shadow: 0 0 20px 5px black;

// ----------------------------------------------------------------------------
// Cells
// ----------------------------------------------------------------------------
$cell-size: 10px;
$board-size: #{$cell-size*250};
